In [1]:
    """
    Level 5 – Advanced Analysis
Q21. Add Profit Margin column
    """

'\nLevel 5 – Advanced Analysis\nQ21. Add Profit Margin column\n'

In [3]:
import pandas as pd 
df_sales = pd.read_csv("sales_data.csv")

In [4]:
df_sales["Profit Margin"] = (df_sales["Profit"] / df_sales["Sales"]) * 100

In [5]:
#Q22. Top 5 by Profit Margin
df_sales.sort_values(by="Profit Margin", ascending=False).head(5)

,Name,Age,City,Sales,Profit,Region,Category,Date,Salesperson,Profit Margin
7,Meena,26,Bangalore,9000.0,2500.0,South,C,2025-01-08,S2,27.777778
1,Neha,30,Mumbai,4500.0,1200.0,West,B,2025-01-02,S2,26.666667
4,Raj,35,Mumbai,3000.0,800.0,West,B,2025-01-05,S2,26.666667
0,Amit,25,Delhi,6000.0,1500.0,North,A,2025-01-01,S1,25.000000
2,Ravi,22,Pune,5200.0,1300.0,West,A,2025-01-03,S3,25.000000

In [7]:
#Q23  Pivot table – Sales per Month per Region
df_sales["Month"] = df_sales["Date"].dt.month
df_sales.pivot_table(values="Sales", index="Month", columns="Region", aggfunc="sum")

AttributeError: Can only use .dt accessor with datetimelike values